@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Roboto+Slab:wght@200;300;500;700&family=Source+Sans+Pro:wght@200;400&family=Ubuntu:wght@300;400;500;700&display=swap');
/* {   
    font-family: 'Lora', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}*/
body{
    background-color:#caf0f8;
    margin: 0;
}
header{
    display: flex;
    height: 100px;
    background-color: #ffb9e4;
    justify-content: space-between;
    align-items: center;
}
main{
    background-color: #94d2bd;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}
.formulario{
    background-color: #94d2bd;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}
.text{
    width: 300px; 
    height: 30px;
}
footer{
    background-color: dodgerblue;
    color:mediumblue;
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
    font-family: 'Ubuntu','Lora',sans-serif;
    color: blueviolet;
    font-size: 20px;
    text-decoration: none;
}
.logo img{
    height: 100px;
    margin-right: 15px;
    margin-left: 10px;
}
nav a{
    font-family: 'Ubuntu','Lora',sans-serif;
    color: blueviolet;
    text-decoration: none;
    padding-right: 15px;
}
nav a:hover{
    color: fuchsia;
}
.boton{
    width: 300px; 
    height: 30px;
}
caption{
    font-family: 'Roboto Slab', sans-serif;
    color: #264653;
    font-size: 25px;
}
h1{
    display: inline-block;
}
label{
    font-size: 20px;
}
ul, ol{
    
	text-align: left;
	display: inline-block;
}
li {
    font-family: 'Source Sans Pro',sans-serif;
    color: black;
    font-size: 20px;
}
td {
    padding: 3px;
}